body {
  background-color: #c0c0c0;
}

#app .container {
  display: flex;
}

#app #meals {
  background-color: #c3ddfa;
  flex-grow: 1;
  margin: 5px;
  margin-top: 0;
}

#app #orders {
  background-color: #f8b7b7;
  flex-grow: 1;
  margin: 5px;
  margin-top: 0;
}

#meals {
  margin-left: 0;
}

#orders {
  margin-right: 0;
}

#app ul {
  padding: 10px 20px;
}

#app ul li {
  list-style-type: none;
  border: solid 1px;
  margin: 5px 0px;
  padding: 5px 2px;
}

#submit {
  background-color: #17495e;
  color: #fff;
  padding: 10px 15px;
  border: solid 0px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 38px;
}

#submit:hover {
  cursor: pointer;
}

#submit:disabled {
  background-color: #ccc;
}

#meals-list li {
  cursor: pointer;
}

.selected {
  background-color: #eee;
}

#app .form-main {
  background-color: #ffffff;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: solid #17495e;
  padding-bottom: 30px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}

.login-form p {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-form input {
  width: calc(100% - 10px);
  height: 28px;
  padding-left: 8px;
  background-color: #dedede;
  border: solid 0;
  border-radius: 8px;
  color: #424242;
}

.btn {
  background-color: #17495e;
  color: white;
  border: solid 0;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: #2e6279;
}

.btnR {
  background-color: #dac511;
  color: white;
  border: solid 0;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}

.btnR:hover {
  cursor: pointer;
  background-color: #d4c855;
}

.btnL {
  background-color: #ca0909;
  color: white;
  border: solid 0;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}

.btnL:hover {
  cursor: pointer;
  background-color: #c52c2c;
}

.block {
  width: calc(100% - 2px);
}

.form-title {
  text-align: center;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background-color: #fff;
  width: 600px;
  padding: 5px 15px 15px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: solid #17495e;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}

.register-form input {
  width: calc(100% - 10px);
  height: 28px;
  padding-left: 8px;
  background-color: #dedede;
  border: solid 0;
  border-radius: 8px;
  color: #424242;
}

.register-form p {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popup .exit-btn {
  display: block;
  text-align: right;
  line-height: 16px;
}

#exit-btn:hover {
  cursor: pointer;
}
